body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container1 {
  padding: 0 16px;
}

.container1::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  background-color: #fbfff5;
  padding: 10px;
}

li {
  color: #c46406;
  text-align: center;
  display: inline;
  margin-left: 350px;
  word-spacing: 0.7px;
  font-size: 18px;
  text-decoration: none;
}

li:hover {
  color: brown;
  background-color: aqua;
  border-radius: 5px;
  border-width: 5px;
  font-weight: 400;
}

.title {
  color: grey;
}

h1 {
  font-family: "Anta", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #65a3cb;
  font-size: 38px;
}
.p1 {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: #c46406;
  font-size: 20px;
}
p {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: #c46406;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.h22 {
  font-family: "Anta", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #65a3cb;
  font-size: 30px;
}
